@import "tailwindcss";

html, body, .App {
  font-family: "HarmonyOS Sans SC", "Fira Code", "Fira Mono", "Source Code Pro", "Courier New", monospace;
  width: 100%;
  height: 100vh;
  @apply bg-neutral-800 text-neutral-200;
}
